<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
assalamualaikum<br>
{{name}}<br>
<form action='/template2' method='get'>
<!--    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea>-->
<!--    <button type='submit'> Analyze Text</button>-->
    <textarea name="text" ></textarea>

    <input type="checkbox" name="remove">click here  to Remove pucntuation<br>
    <input type="checkbox" name="charcount">click here to count character<br>
    <input type="checkbox" name="capitalize">click here to capitalize your character<br>
     <button type="button" class="btn btn-dark">Dark</button>
    <button type="submit">Analyzetext</button>

</form>
</body>
</html>